html, body {
    height: 100%;
}

header a {
    text-decoration: none;
}

body {
    color: #bfbfbf;
    background: black;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

h1 {
    color: white;
}

.post_title {
    margin-bottom : 0px;
}

#global {
    min-height: 100%;  /* Voir commentaire sur html et body plus haut */
    background: #333534;
    width: 70%;
    margin: auto;   /* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}


#content {
    margin-bottom : 30px;
}

hr {
    border : 1px solid #444;
    margin : 40px 0px;
}


#comment_title {
    font-size : 100%;
}

.comment_content {
    margin-left: 50px;
}


#blog_title, #blog_footer {
    text-align: center;
}

#blog_footer {
    margin-top: 50px;
    font-size: 12px;
    color: #FFF;
}